<section class="pt-5" id="destination">
  <div class="container">
    <div
      class="position-absolute start-100 bottom-0 translate-middle-x d-none d-xl-block ms-xl-n4">
      <img src="assets/img/dest/shape.svg" alt="destination" />
    </div>
    <div class="mb-7 text-center">
      <h5 class="text-secondary">Top Selling</h5>
      <h3
        class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">
        Top Destinations
      </h3>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card overflow-hidden shadow" data-bs-toggle="modal"
          data-bs-target="#destination-product-1">
          <img
            class="card-img-top"
            src="assets/img/dest/dest1.jpg"
            alt="Rome, Italty" />
          <div class="card-body py-4 px-3">
            <div
              class="d-flex flex-column flex-lg-row justify-content-between mb-3">
              <h4 class="text-secondary fw-medium">
                <a
                  class="link-900 text-decoration-none stretched-link"
                  href="../product-page.html"
                  routerLink="/product-page">Rome, Italty</a>
              </h4>
              <span class="fs-1 fw-medium">$5,42k</span>
            </div>
            <div class="d-flex align-items-center">
              <img
                src="assets/img/dest/navigation.svg"
                style="margin-right: 14px"
                width="20"
                alt="navigation" /><span class="fs-0 fw-medium">10 Days
                Trip</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card overflow-hidden shadow">
          <img
            class="card-img-top"
            src="assets/img/dest/dest2.jpg"
            alt="London, UK" />
          <div class="card-body py-4 px-3">
            <div
              class="d-flex flex-column flex-lg-row justify-content-between mb-3">
              <h4 class="text-secondary fw-medium">
                <a
                  class="link-900 text-decoration-none stretched-link"
                  routerLink="/product-page">London, UK</a>
              </h4>
              <span class="fs-1 fw-medium">$4.2k</span>
            </div>
            <div class="d-flex align-items-center">
              <img
                src="assets/img/dest/navigation.svg"
                style="margin-right: 14px"
                width="20"
                alt="navigation" /><span class="fs-0 fw-medium">12 Days
                Trip</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card overflow-hidden shadow">
          <img
            class="card-img-top"
            src="assets/img/dest/dest3.jpg"
            alt="Full Europe" />
          <div class="card-body py-4 px-3">
            <div
              class="d-flex flex-column flex-lg-row justify-content-between mb-3">
              <h4 class="text-secondary fw-medium">
                <a
                  class="link-900 text-decoration-none stretched-link"
                  routerLink="/product-page">Full Europe</a>
              </h4>
              <span class="fs-1 fw-medium">$15k</span>
            </div>
            <div class="d-flex align-items-center">
              <img
                src="assets/img/dest/navigation.svg"
                style="margin-right: 14px"
                width="20"
                alt="navigation" /><span class="fs-0 fw-medium">28 Days
                Trip</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- destination 1 Modal -->
    <div class="modal fade" id="destination-product-1" tabindex="-1"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header" style="
            display: inline-flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Rome: The Eternal City, Italy</h1>
          </div>
          <div class="modal-body">

            <!-- content -->
            <section class="py-5">
              <div class="container">
                <div class="row gx-5">
                  <aside class="col-lg-6">
                    <div
                      class="border rounded-4 mb-3 d-flex justify-content-center">
                      <a data-fslightbox="mygalley" class="rounded-4"
                        target="_blank" data-type="image"
                        href="/">
                        <img
                          style="max-width: 100%; max-height: 100vh; margin: auto;"
                          class="rounded-4 fit"
                          src="https://www.citalia.com/-/media/bynder/citalia-non-geography/blogs/rome-city-guide/blog-rome-300273-2022-rome-shutterstock_1417390817-hybris.jpg?rev=6e4a0e96269a4345a799296d555a0c24&h=512&w=1061.5" width="100%" />
                      </a>
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                      <a data-fslightbox="mygalley"
                        class="border mx-1 rounded-2" target="_blank"
                        data-type="image"
                        href="/"
                        class="item-thumb">
                        <img width="60" height="60" class="rounded-2"
                          src="https://www.citalia.com/-/media/bynder/citalia-non-geography/blogs/rome-city-guide/blog-rome-300273-2022-rome-shutterstock_1417390817-hybris.jpg?rev=6e4a0e96269a4345a799296d555a0c24&h=512&w=1061.5" />
                      </a>
                      <a data-fslightbox="mygalley"
                        class="border mx-1 rounded-2" target="_blank"
                        data-type="image"
                        href="/"
                        class="item-thumb">
                        <img width="60" height="60" class="rounded-2"
                          src="https://www.citalia.com/-/media/bynder/citalia-non-geography/blogs/rome-city-guide/blog-rome-300273-2022-car-hybris.jpg?rev=3528565e846a4467a3b7a4c30f3fc11f&h=512&w=1061.5" />
                      </a>
                      <a data-fslightbox="mygalley"
                        class="border mx-1 rounded-2" target="_blank"
                        data-type="image"
                        href="/"
                        class="item-thumb">
                        <img width="60" height="60" class="rounded-2"
                          src="https://www.citalia.com/-/media/bynder/citalia-non-geography/blogs/rome-city-guide/blog-rome-300273-2022-city-view-01-hybris.jpg?rev=de180bfba5b24c41ba46dffceef9388f&h=512&w=1061.5" />
                      </a>
                      <a data-fslightbox="mygalley"
                        class="border mx-1 rounded-2" target="_blank"
                        data-type="image"
                        href="/"
                        class="item-thumb">
                        <img width="60" height="60" class="rounded-2"
                          src="https://www.citalia.com/-/media/bynder/citalia-non-geography/blogs/rome-city-guide/blog-rome-300273-2022-scooter-hybris.jpg?rev=c22172c59d6e4791bab33f1c7ddad79a&h=512&w=1061.5" />
                      </a>
                      <a data-fslightbox="mygalley"
                        class="border mx-1 rounded-2" target="_blank"
                        data-type="image"
                        href="/"
                        class="item-thumb">
                        <img width="60" height="60" class="rounded-2"
                          src="https://www.citalia.com/-/media/bynder/citalia-non-geography/blogs/rome-city-guide/blog-rome-300273-2022city-view-02-hybris.jpg?rev=ff06de8c828c4bbcb32a09ce4cc4671f&h=512&w=1061.5" />
                      </a>
                    </div>
                    <!-- thumbs-wrap.// -->
                    <!-- gallery-wrap .end// -->
                  </aside>
                  <main class="col-lg-6">
                    <div class="ps-lg-3">
                      <h4 class="title text-dark">
                        Rome: The Eternal City: Discover the magic of Rome, where history, culture, and modern life intertwine in perfect harmony!
                      </h4>
                      <div class="d-flex flex-row my-3">
                        <div class="text-warning mb-1 me-2">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fas fa-star-half-alt"></i>
                          <span class="ms-1">
                            4.5
                          </span>
                        </div>
                        <span class="text-success ms-2">Avalible</span>
                      </div>

                      <div class="mb-3">
                        <span class="h5">$75.00</span>
                        <span class="text-muted">/per day</span>
                      </div>

                      <p>
                        As one of the most iconic cities in the world, Rome offers a captivating journey through time, from ancient ruins to Renaissance art, and vibrant Italian streets filled with delicious cuisine.
                      </p>

                      <hr />

                      <div class="row mb-4">
                        <div class="col-md-4 col-6">
                          <label class="mb-2" style="color: #f1a501;font-family: 'Ubuntu Titling', sans-serif;font-weight: 700;font-size: 18px;">Type:</label>
                          <select class="form-select border border-secondary"
                            style="font-family: 'Ubuntu Titling', sans-serif;font-weight: 700;">
                            <option>Regular</option>
                            <option>Business</option>
                            <option>Royal</option>
                          </select>
                        </div>
                        <!-- col.// -->
                        <div class="col-md-4 col-6 mb-3">
                          <label class="mb-2 d-block" style="color: #f1a501;font-family: 'Ubuntu Titling', sans-serif;font-weight: 700;font-size: 18px;">No. of people</label>
                          <div class="input-group mb-3" style="width: 170px;">
                            <button
                              class="btn btn-white border border-secondary px-3"
                              type="button" id="button-addon1"
                              data-mdb-ripple-color="dark">
                              <i class="fas fa-minus"></i>
                            </button>
                            <input type="text"
                              class="form-control text-center border border-secondary"
                              placeholder="1"
                              aria-label="Example text with button addon"
                              aria-describedby="button-addon1" />
                            <button
                              class="btn btn-white border border-secondary px-3"
                              type="button" id="button-addon2"
                              data-mdb-ripple-color="dark">
                              <i class="fas fa-plus"></i>
                            </button>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <label for="startDate" style="color: #f1a501;font-family: 'Ubuntu Titling', sans-serif;font-weight: 700;font-size: 18px;">Arrival Date</label>
                            <input id="startDate" class="form-control startDateform" type="date" />
                          </div>
                          <div class="col-6">
                            <label
                              for="endDate" style="color: #f1a501;font-family: 'Ubuntu Titling', sans-serif;font-weight: 700;font-size: 18px;">Leaving date</label>
                            <input id="endDate endDateform" class="form-control startDateform"
                              type="date" />
                          </div>
                        </div>
                      </div>
                      <a href="#"
                        class="btn btn-warning shadow-0 dest-prod-det-book-btn">
                        Book now
                      </a>
                      <a href="#" class="btn dest-prod-det-wish-btn shadow-0">
                        <i class="fa-sharp fa-regular fa-heart"></i>
                        Add to Wishlist
                      </a>
                    </div>
                  </main>
                </div>
              </div>
            </section>
            <!-- content -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
              data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>